* {
    margin: 0;
    padding: 0;
}

body {
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;700&display=swap" rel="stylesheet">
}

.section-two {
    margin-left: 60px;
}

li {
    list-style: none;
}

.heading-contant {
    margin-top: 40px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav {
    display: flex;
    gap: 80px;
    margin-left: 30rem;
    margin-top: 40px;
    align-items: center;
}

h1 {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

li {
    color: #474747;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-one {
    color: var(--white-color, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 120px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
}

.parent-nav {
    width: 1600px;
    height: 837px;
    flex-shrink: 0;
    background: #FFF8F3;
}

.parent-div-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-one {
    width: 600px;
    height: 676px;
    flex-shrink: 0;
}

.hi {
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mary {
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.shot {
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.download {
    color: var(--white-color, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 200px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
}

.contact {
    color: #FD6E0A;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
}

.part-two-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.part-two-parent {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;


}

.another-intro {
    text-align: center;
}

.about {
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 70px;
}

.another-intro {
    color: var(--dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.name {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.part-two {
    width: 1140px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 0 auto;
    margin-top: 90px;
}

.image-two {
    width: 20px
}

.same {
    text-align: center;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20;
    margin-top: 50px;
}

#alignment {
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.third-info {
    background-color: white;
    width: 1140px;
    height: 550px;
    margin: 0 auto;
    padding: 10rem;
}

.js {
    width: 267px;
    height: 377px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.can {
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;

}

.vall {
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 30px;
}
.image-three{
    margin-left: 20px;
    margin-top: 20px;
}
.h1{
    text-align: center;
}
.edu-exp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px 10px 20px;
    gap: 90px;
}
.btn{
    text-align: center;
   
}
.forth-section{
    width:1140px;
    height:550px;
    background-color:rgba(255, 255, 255, 0.763);
    margin: 0 auto;
}
hr{
    margin-top: 20px;
}
.h2{
    color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.my{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

